.container-fluid{
    background-color: #212529;
}

.btn button{
    width: 290px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    font-weight: bold;
    display: flex;
    margin: 20px 0;
}